<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Slither</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/slither/media/favicon.ico">
  <link rel="stylesheet" href="/slither/css/base-style.css" />
  <link rel="stylesheet" href="/slither/css/home.css" />
  <script>
    const alerts = <%- data.alerts %>;
    const navItems = <%- data.navItems %>;
    
    const defaultCategory = '<%- data.defaultCategory %>';
    const alertsUrl = '<%- data.alertsUrl %>';
  </script>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
  <div id="home-main-container">

    <p>Welcome to Home! Paste this URL into a browser source to start getting alerts.</p>
    <div id="alerts-url-container">
      <input id="alerts-url-field" disabled type="text" value="<%= data.alertsUrl ? data.alertsUrl : ''%>">
      <button id="copy-alerts-url-btn">Copy</button>
    </div>
    <div id="alerts-customization-container">
      <div id="alerts-categories-container"></div>
      <div id="alert-options-container">
        <div id="more-alerts-categories-top">
          Expandable alerts within current category go here
        </div>
        <p id="selected-alert-description"></p>
        <div id="alert-settings-section-1">
          <div id="alert-preview-box"><img id="alert-img" src=""></div>
          <div id="alert-customization-inputs-area">
            <button id="alert-preview-btn">Preview Alert</button>
            <div id="upload-files-area">
              <button id="image-file-input-btn">Set Image</button>
              <button id="audio-file-input-btn">Set Audio</button>
              <div id="image-preview-box"><img id="alert-img-thumb" src=""></div>
              <div id="alert-audio-details">
                <div id="alert-audio-filename" tabindex="-1">filename.mp3</div>
                <div id="alert-audio-volume"><input id="audio-volume-input" type="range" min="0.01" max="1" step="0.01"></div>
                <button id="play-audio-btn">Play</button>
              </div>
            </div>
            <div id="alert-duration"><label for="alert-duration-input">Play alert for</label><input id="alert-duration-input" type="text">sec</div>
          </div>
        </div>
        <div id="alert-settings-section-2">
          <input id="alert-text-input">
          <div id="alert-text-components-area">
            <!-- Populate with draggable components that represent viewer name, channel name, number of months, etc.
                 that can be added to the alert text -->
            <ul style="list-style-type: none;">
              <li>viewer</li>
              <li>channel</li>
            </ul>

          </div>
        </div>
        <div id="more-alerts-categories-bottom">
          Expandable alerts within current category go here
        </div>
      </div>
    </div>
  </div>


<input id="image-file-input" class="invisible" type="file">
<input id="audio-file-input" class="invisible" type="file">
<audio id="alert-audio" src="" class="invisible"></audio>

<script src="/slither/js/auth.js"></script>
<script src="/slither/js/home.js"></script>
</body>

</html>